<body ng-app='homepage'>
    <div ng-controller='homepageController as homepage'>
        {{homepage.value}}
        {{4+5}}
        This is a test
    </div>
    <ul>
        <strong>Test creators</strong>
        <li>
    <button id = "button">
        Make a test
    </button>
        </li>
        <li>
    <button id = 'button2'>
        Make a test with a date
    </button>
        </li>
        <li>
    <button id = 'field'>
        Change a test name
    </button>
        </li>
        <li>
    <button id = 'destroyer'>
        Destroy a test
    </button>
        </li>
    </ul>
    <ol>
        <strong>Associationg creators</strong>
        <li>
    <button id = 'createAssoc'>
        Create an Association
    </button>
        </li>
        <li>
    <button id = 'association'>
        Association button
    </button>
        </li>
        <li>
    <button id = 'connector'>
        ID/Association Connector
    </button>
        </li>
        <li>
    <button id = 'manyConnections'>
        One to many
    </button>
        </li>
    </ol>
    <ol>
        <strong>Associations in general</strong>
        <li>
        <button id = 'oneToMany'>
            One to many button
        </button>
        <button id = 'oneToManyDestroyer'>
            One to many destroyer
        </button>
        <button id = 'thingToStuff'>
            Add a thing to an association stuff
        </button>
        </li>
    <ol>
        <strong>Things, they are the newest model</strong>
    </ol>
        <li>
            <button id = 'things'>
                Let's create a thing
            </button> 
        </li>
        <li>
            <button id = 'specificThingToStuff'>
                Connect a specific thing to stuff
            </button>
        </li>
    </ol>
    <ul>
        <li>
            <button id = 'jack'>
                Jack practice
            </button>
        </li>
        <li>
            <button id = 'scuttle'>
                Scuttle Practice
            </button>
        </li>
    </ul>
    <div id = 'list'>
    </div>
</body>

<!-- In the future make two different lists for associations models and test models.  Also, reorganize the buttons. -->